p{
    color:blueviolet;
    background-color: aliceblue;
    font-size: small;
    font-style: oblique;
    border-width: 2px;
    border-color: bisque;
    border-style: dotted;
    text-align:center;
}

.special{
    color:palevioletred;
}

.flexbox{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin:40px;
    padding:40px;
    justify-content: center;

}